
/*
@font-face {
    font-family: 'dosislight';
    src: url('../type/dosis-light-webfont.eot');
    src: url('../type/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/dosis-light-webfont.woff') format('woff'),
         url('../type/dosis-light-webfont.ttf') format('truetype'),
         url('../type/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
@font-face {
    font-family: 'dosisregular';
    src: url('../../shared_assets/type/dosis-regular-webfont.eot');
    src: url('../../shared_assets/type/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../shared_assets/type/dosis-regular-webfont.woff') format('woff'),
         url('../../shared_assets/type/dosis-regular-webfont.ttf') format('truetype'),
         url('../../shared_assets/type/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'dosismedium';
    src: url('../type/dosis-medium-webfont.eot');
    src: url('../type/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/dosis-medium-webfont.woff') format('woff'),
         url('../type/dosis-medium-webfont.ttf') format('truetype'),
         url('../type/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
@font-face {
    font-family: 'dosissemibold';
    src: url('../../shared_assets/type/dosis-semibold-webfont.eot');
    src: url('../../shared_assets/type/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../shared_assets/type/dosis-semibold-webfont.woff') format('woff'),
         url('../../shared_assets/type/dosis-semibold-webfont.ttf') format('truetype'),
         url('../../shared_assets/type/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

BODY, HTML {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #636363;
}

A, A:hover, A:visited, A:active {
    color: #ffbe00;
    text-decoration: underline;
}

UL {
    margin: 0;
    padding: 0 0 0 1.5em;
}

#project_nav {
    width: 100%;
    background-color: #ffbe00;
    position: fixed;
    height: 61px;
    min-width: 300px;
    z-index: 3;
    color: #ffffff;
}
A.what_is_coder,
A.what_is_coder:visited,
A.what_is_coder:active,
A.what_is_coder:hover {
    display: block;
    position: absolute;
    top:13px;
    right:13px;
    padding: 8px;
    border-radius: 6px;
    background-color: #00dbeb;
    color: #fff;
    font-family: dosissemibold, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;
}
A.what_is_coder:hover {
}


.project_home {
    display: block;
    background-color: #ff8f00;
    width: 34px;
    height: 100%;
    text-align: center;
    position: absolute;
    left:0px;
}
.project_home A {
    position: absolute;
    left: -13px;
    display: block;
    top: 13px;
    font-size: 12px;
    text-align: center;
    width: 60px;
    height: 34px;
    line-height: 34px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.project_info {
    position: absolute;
    left: 48px;
    top: 8px;
    font-family: Courier, monospace;
    font-size: 12px;
    line-height: 12px;
}

#project_nav h1 {
    position: absolute;
    left: 48px;
    top: 22px;
    font-weight: 200;
    font-size: 28px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}


.fixedbg {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: 7;
    background-color: #ffbe00;
    color: #ffffff;
    overflow: hidden;
}
.fixedbar {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: 8;
    color: #ffffff;
    overflow: hidden;
}

.logo A, .logo A:hover, .logo A:visited, .logo A:active {
    color: #ffffff;
    text-decoration: none;
}

#slideup .logo {
    opacity: 0;
    position: relative;
}

#slideup {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
}

#animation {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.masthead {
    background-color: #ffbe00;
    color: #ffffff;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 7;
    margin-bottom: 0px;
    height: 250px;
}
.masthead H1 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    margin-top: -90px;
    left: 50px;
    margin-left: 0;
    text-transform: uppercase;
    line-height: 170px;
    font-size: 170px;
    display:block;
    width: 500px;
    text-align: left;
    letter-spacing: 5px;
    font-family: dosisregular, sans-serif;
    font-weight: normal;
}
.masthead .subhead {
    position: absolute;
    font-size: 26px;
    line-height: 26px;
    color: #f03a00;
    top: 105px;
    right: 20px;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    display: block;
    opacity: 0.9;
    font-family: dosisregular, sans-serif;
    font-weight: normal;
    text-transform: none;
}
.masthead P {
    font-size: 28px;
    line-height: 36px;
    width: 460px;
    margin: 0 auto 0 auto;
    padding: 256px 0 0 0;
}


.fixedbar .logo H1 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 2px;
    color: #ffffff;
    left: 58px;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 50px;
    display:block;
    letter-spacing: 1px;
    font-family: dosisregular, sans-serif;
    font-weight: normal;
}
.fixedbar .logo .subhead {
    position: absolute;
    font-size: 13px;
    line-height: 13px;
    color: #f03a00;
    top: 28px;
    right: -18px;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    display: block;
    font-family: dosissemibold, sans-serif;
    font-weight: normal;
    text-transform: none;
}

.button {
    display: inline-block;
    font-size: 17px;
    background-color: #ffbe00;
    color: #ffffff;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 30px;
    opacity: 0.9;
    margin: 18px 0;
}
.button:hover {
    opacity: 1;
    cursor: pointer;
}

.button.inline {
    display: inline-block;
    vertical-align: middle;
}

.faq .button {
    margin-top: 10px;
}

.helpout .button {
    padding: 0 25px;
}

A.button, A.button:hover, A.button:visited, A.button:active {
    color: #ffffff;
    text-decoration: none;
}


.download {
}
.masthead .download {
    position: relative;
    z-index: 11;
}

.fixedbar .download {
    position: absolute;
    right: 25px;
    top: 12px;
    margin:0;
    font-size: 16px;
    line-height: 35px;
}


.links {
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    right: 60px;
    bottom: 158px;
    font-weight: 400;
}
.links A, .links A:visited, .links A:active, .links A:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.5;
    margin: 0 10px;
}
.links A:hover, .links A:active {
    color: #000000;
    opacity: 0.8;
}
.links A.active, .links A.active:hover {
    color: #ffffff;
    opacity: 1;
}

.fixedbar .links {
    position: absolute;
    right: 60px;
    bottom: 24px;
    padding: 0;
}
.fixedbar .links A, .fixedbar .links A:visited, .fixedbar .links A:active, .fixedbar .links A:hover {
}
.fixedbar .links A:hover {
}

.madewith {
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.section {
    position: relative;
    margin: 0 auto;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #eaeaea;
    clear: both;
    width: 640px;
}
.section.intro {
    padding-top: 66px;
}

.section.projects {
    padding-bottom: 47px;
}
.section.centered {
}
.section p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 200;
    margin: 1em 0;
}
.section p.last {
    margin-bottom: 0;
}
.section li {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 .5em 0;
    font-weight: 200;
}
.section ul {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}
.section .anchor {
    position: absolute;
    top: -60px;
}
.section.last {
    border-bottom: 0px;
    padding-bottom: 100px;
}

.section.introduction {
    border-bottom: 0px;
    padding-bottom: 0;
    text-align: center;
}
.introcopy {
    width: 640px;
    margin: 0 auto;
}

A.project_download, A.project_download:hover, A.project_download:visited, A.project_download:active {
    display: inline-block;
    text-decoration: none;
    padding: 7px 0 0 68px;
    background: url( ../images/project_download.png ) no-repeat;
    background-position: 0px 4px;
    height: 43px;
    margin: 24px 0 18px 0;
    width: 308px;
    font-size: 20px;
    line-height: 20px;
    opacity: .9;
}
A.project_download:hover {
    opacity: 1;
    text-decoration: underline;
}
A.project_download .info {
    display: block;
    font-size: 14px;
    line-height: 20px;
}


.clear {
    clear: both;
}

h2 {
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    margin: 24px 0 0 0;
}

.callout {
    font-size: 18px;
    color: #e5ba0e;
    /*background-color: #c0c0c0;*/
    background-color: #fcf3cf;
    /*border-radius: 6px;*/
    line-height: 1.3em;
    margin: 24px 0 0 0;
    padding: 24px;
    text-align:left;
    font-weight: 400;
}
.callout A, .callout A:hover, .callout A:active, .callout A:visited {
    text-decoration: underline;
    color: #e5ba0e;
}

.footer {
    position: relative;
    padding-top: 30px;
    height: 80px;
    margin: 10px auto 0 auto;
    width: 100%;
    border-top: 1px solid #eaeaea;
}
.footer .madewith {
    left: 60px;
}
.footer .links {
    position: absolute;
    right: 60px;
    top: 20px;
    font-size: 12px;
    height: 40px;
    padding: 0;
    display: inline-block;
}

.footer .links A, .footer .links A:visited, .footer .links A:active, .footer .links A:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.5;
    margin: 0 20px 0 0;
    vertical-align: top;
    line-height: 24px;
    font-size: 12px;
}
.footer .links A:hover {
    color: #000000;
    opacity: 0.8;
}



.plusholder {
    display: inline-block;
    height: 30px;
}

.outerglow {
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
    border-radius: 2px;
}



.project {
    display: block;
    position: relative;
    text-align: left;
    border-top: 1px dashed #ccc;
    margin-top: 16px;
    margin-bottom: -17px;
}

.project.left, .project.right {
    width: 306px;
    float: left;
}
.project.right {
    margin-left: 28px;
}
.project h3 {
    font-size: 20px;
    font-weight: 200;
    margin:0;
    padding:0;
}
.project p {
    font-size: 15px;
    margin: .5em 0;
}
.project.left .button.inline, .project.right .button.inline {
    padding: 0 16px;
    font-size: 16px;
    line-height: 34px;
    margin-right: 10px;
}
.project.left .difficulty, .project.right .difficulty {
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #f1c40f;
    vertical-align: middle;
}

.projectid {
    position: absolute;
    display: block;
    top: -10px;
    padding: 0 4px 0 0;
    background-color: #fff;
    color: #acacac;
    font-family: courier, monospace;
}
img.feature {
    width: 100%;
    margin-top: 34px;
    margin-bottom: 10px;
}
.description .details {
    width: 420px;
    padding-right: 24px;
    float: left;
}
.description .meta {
    width: 196px;
    float: left;
}
.description h3, .description .difficulty {
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    margin: 24px 0 0 0;
}
.description .difficulty {
    color: #ffbe00;
}
.description p {
    font-size: 15px;
    line-height: 22px;
    margin: 7px 0;
}
.description .whofor {
    font-style: italic;
}
.description .whofor strong {
    display: block;
    font-style: normal;
}
.description .meta {
    color: #ffbe00;
}
.description .meta .name {
    display: block;
    color: #666666;
}
.projectlink {
    margin: 24px 0;
}
.projectlink img {
    width: 196;
    float: left;
}
.projectlink .details {
    width: 420px;
    padding-left: 24px;
    float: left;
}
.projectlink h3 {
    color: #616161;
    font-size: 18px;
    margin: 0 0 2px 0;
    padding:0;
    line-height: 18px;
}
.projectlink p {
    font-size: 15px;
    margin: 0 0;
}
.projectlink h3 .difficulty {
    color: #ffbe00;
    font-weight: 200;
}
.projectlink A, .projectlink A:visited, .projectlink A:active, .projectlink A:hover {
    color: #ffbe00;
    text-decoration: none;
}
.projectlink A:hover {
    text-decoration: underline;
}

.step .codeview {
    padding: 8px;
    background-color: #f0f0f0;
    margin: 34px 0;
}
.step .codeview .data {
    position: relative;
    height: 100px;
    font-size: 16px;
}
.step .codeview .data .ace_cursor {
    display: none;
}

/* turn off right hand scrollbars on editor */
.ace_scrollbar {
    display: none;
    visibility: hidden;
}